:root {
/* COLORS */
/* dark shades of primary color*/
--clr-primary-1: hsl(205, 86%, 17%);
--clr-primary-2: hsl(205, 77%, 27%);
--clr-primary-3: hsl(205, 72%, 37%);
--clr-primary-4: hsl(205, 63%, 48%);
/* primary/main color */
--clr-primary-5: hsl(205, 78%, 60%);
/* lighter shades of primary color */
--clr-primary-6: hsl(205, 89%, 70%);
--clr-primary-7: hsl(205, 90%, 76%);
--clr-primary-8: hsl(205, 86%, 81%);
--clr-primary-9: hsl(205, 90%, 88%);
--clr-primary-10: hsl(205, 100%, 96%);
/* darkest grey - used for headings */
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10: hsl(210, 36%, 96%);
--clr-white: #fff;
--clr-red-dark: hsl(360, 67%, 44%);
--clr-red-light: hsl(360, 71%, 66%);
--clr-green-dark: hsl(125, 67%, 44%);
--clr-green-light: hsl(125, 71%, 66%);
--clr-black: #222;
--Almost-White: hsl(0, 0%, 98%);
--Medium-Gray: hsl(0, 0%, 41%);
--Almost-Black: hsl(0, 0%, 8%);
/*    FONTS    */
--ff-primary: 'Epilogue', sans-serif;
--fs-paragraph: 18px;
--fw-500: 500;
--fw-700: 700;
--transition: all 0.3s linear;
--spacing: 0.2rem;
--radius: 0.25rem;
--btn-radius: 0.8rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--max-width: 1170px;
--fixed-width: 620px;

}

/*  GLOBAL  STYLES  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
width: 100%;
height: 100%;
}

body {
  font-size: var(--fs-paragraph);
  width: 100%;
  height: 100%;

}

main {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.blurred-focus {
  opacity: 0.9;
  background-color: var(--Medium-Gray);
}



/* MOBILE DESIGN */


/* Navbar */
nav {
  margin: 1rem;
}

/*  Nav-container  */

.nav-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: var(--radius);
}

.nav-body {
  height: 0;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  z-index: 10000;
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--clr-white);
  padding: 1rem;
  transition: var(--transition);
  transform: translate(100%);
  box-shadow: var(--light-shadow);
}

.show-sidebar {
  transform: translate(0);
  opacity: 1 ;
  background-color: var(--clr-white);
  color: var(--Almost-Black) !important;
}

/* Close Button */
.close-btn-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  width: 2rem;
  height: 2rem;
}

/* Side Bar links */
.sidebar-list {
  list-style-type: none;
}

.sidebar-list li{
  font-size: 15px;
  margin: 1rem 0;
}

.sidebar-list li a {
  text-decoration: none;
  color: var(--Almost-Black) !important;
  font-weight: var(--fw-500);
}

/* Nested List */
.nested-list {
  color: var(--Medium-Gray);
  margin-left: 1rem;
  list-style-type: none;
  height: 0;
  overflow: hidden;

}
.show-nested-list {
  height: auto;
}

/* Up and Down Icons */

.hide-icon {
  width: 0;
}


/* SIDEBAR AUTH-BTNS */
.sidebar-auth-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar-auth-btns a {
  text-decoration: none;
  font-size: 15px;
  color: var(--Almost-Black);
  font-weight: var(--fw-500);
  margin: 1rem;
}

.auth {
  background-color: transparent;
  border: 1px solid var(--Almost-Black);
  height: 2rem;
  border-radius: var(--btn-radius);
}

/* Hero Image */
.container {
  margin-top: 1rem;
  width: 100%;
}
/* Hero Image */
.hero-image {
  margin-bottom: 2rem;
}
#hero-desktop {
  width: 0;
}
#hero-mobile {
  width: 100%;
}

/* Text Content */
.text-content
{
  text-align: center;
}

.text-content h1 {
  font-size: 28px;
  margin: 1rem auto;
}

.text-content p {
  margin: 1rem 1rem;
  color: var(--Medium-Gray);
  font-weight: var(--fw-500);
}

/* Button Center */
.btn-black {
  height: 2.5rem;
  width: 8rem;
  font-size: 16px;
  font-weight: var(--fw-700);
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  border-radius: var(--btn-radius);
  border: none;
  margin: 1rem 0 2rem 0;
}

/* Companies */
.companies {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  padding: 0.5rem;
}

.company-box {
  margin: 0 0.3rem;
}
 
.company-box img{
  width: 100%;
}


/* Attribution */
.attribution{
  margin-top: auto;
  font-size: 11px; text-align: center; 
  margin-bottom: 1rem;
 }
.attribution a {
  color: hsl(228, 45%, 44%); 
 }